
.t-404-inner{
    display: flex;
    gap: 30px;
    margin: 5%;
    padding: 5%;
    //border: 1px solid $primarycolor;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    .left{
        display: flex;
        flex-direction: column;
        gap: 30px; 
        padding: 6%;
        color: $primarycolor;
        h1,h2{
            color: $primarycolor;
        }
        p a:hover{
            padding: 16px;
            background-color: $yellow;
        }
    }
    .right{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
      
}