.loop--team {
  display: grid;
  gap: 40px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: 0 4vw;

  @media screen and(min-width:640px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
  }

  @media screen and(min-width:$break-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.team-member {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

  .team-member--photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;

    img {
      border-radius: 50%;
      width: 80%;
    }
  }

  h3 {
    color: $primarycolor;
    font-size: $fontsizeB;
    font-weight: $bold;
  }
  .team-function {
    margin-bottom: 13px;
    font-weight: $semibold;
    font-size: 18px;
  }

  a {
    border-bottom: 1px solid $primarycolor;
    font-weight: $regular;
    margin-top: 13px;
  }
  .team-mobile, .team-tel, .team-fax {
    font-size: $fontsizeS;
    font-weight: $regular;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    

    span {
      font-size: $fontsizeR;
      font-weight: $semibold;
      display: inline-flex;
      width: 45px;
      justify-content: flex-end;
    }
  }
}

