.page-content {
  width: 100%;
  font-family: $font1;
  font-size: $fontsizeR;
  font-weight: $regular;
  color: $primarycolor;
  background-color: rgb(243,244,247);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content-header {

  text-align: center;
  margin: 5rem auto;
  font-size: $fontsizeB;
  max-width: 60%;

  h1 {
    font-size: $fontsizeS;
    margin-bottom: 24px;
    color: $primarycolor;
    text-transform: uppercase;
  }

  @media screen and (max-width: $break-tablet) {
    max-width: 90%;
    font-size: 16px;
    line-height: 1.3;
    margin: 60px auto;
  }
}

.slick-list{
  height: 100%;
}
.slick-track{
  height: 100%;
}
.slick-slide {
  height: 100%;

}