.grote_wrap{
  width: 100%;
//max-width: 1400px;
margin: 0 auto;
}
.fleet-tabs {
  
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding: 0;
    margin-bottom: 3rem;
    
    li {
      width: 100%;
      height: 100%;
      position: relative;
      list-style: none;
      a {
        display: block;
        text-decoration: none;
        h4 {
          font-size: $fontsizeB;
          position: absolute;
          bottom: 46%;
          text-align: center;
          width: 100%;
          color: #ffffff;
         
          
        }
      }
    }
  }
}
.post-thumb-fleet {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}
.inner-fleet {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c3660;
  opacity:1;
  img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    opacity: 0.5;
  }
  // img:hover{
  //   opacity: 0;
  // }
  
}

// .ui-tabs-anchor:hover > h4{
//   transform: scale(2);
// }
// .ui-tabs-anchor:hover > div div img{
//   opacity: 0;
// }
.ui-tabs-active{
  a div div img{
    opacity: 0;
  }
  a h4{
    transform: scale(2);
  }
}



.fleet-section--footer {
  background-color: $white;
  width: 100%;
  padding: 1rem 0;
  @media screen and (min-width: $break-tablet){
      padding: 4rem 6rem;
  }
  span.project-cta--title{
      font-size: $fontsizeB;
      font-weight: $semibold;
  }
  a.btn--invert{
      font-size: 19px;
      font-weight: $regular;
      letter-spacing: normal !important;
  }
}