footer {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  width: 100%;
  color: $white;
  //height: 510px;
}
.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1c3660 url("img/curl2.svg") repeat-x;
  background-size: auto 100%;
  background-position: center;

  font-family: $font1;
  font-weight: $regular;
  font-size: 1.125rem;
  line-height: 1.11;
  padding: 75px 0 65px 0;
}
.page-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $break-phone) {
    padding: 0;
    margin: 0 auto;
  }
}
.page-footer-left {
  display: grid;
  gap: 1rem;
  font-size: $fontsizeR;
  line-height: 1.3;

  a img {
    width: 200px;
    margin-top: -15%;
    margin-bottom: 4%;
    @media screen and (max-width: $break-phone) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  > div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

    div {
      display: flex;
      flex-flow: column wrap;
    }
  }
}

.page-footer-right {
  display: grid;
  gap: 24px;
  //grid-template-rows: repeat(auto-fit, 1fr);
  line-height: 1.3;
  nav {
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 20px !important;
    ul {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      //justify-content: space-evenly;
      li {
        a {
          font-weight: $bold;
          font-size: 22px;
        }
      }
    }
    @media screen and (max-width: $break-laptop) {
      display: none;
    }
  }

  span {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: $bold;
    font-size: 22px;
    //line-height: 1.25;
  }
  div {
    grid-row-start: 3;
    grid-row-end: 5;
    width: 80%;
    font-size: $fontsizeR;

    p {
      margin: 0px;
      padding-bottom: 24px;
      a {
        text-decoration-line: underline;
      }
    }
  }
}
@media screen and (max-width: $break-phone) {
  .page-footer-wrapper {
    padding-left: 25px;
    padding-right: 25px;
    gap: 2rem;
  }
}
// =============================================================================================================
.page-credentials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #162a4a;
  color: $white;
  font-family: $font2;
  padding: 15px 0;
}
.page-credentials-wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;
  justify-content: center;

  @media screen and (max-width: $break-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    align-items: start;
    gap: 1rem;
  }
}
.page-credentials-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //gap: 90px;

  .footer-menu {
    #menu-footer-menu {
      display: flex;
      gap: 16px;
    }
  }

  .language-switcher ul {
    gap: 10px;
    li {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 16px;
    }
    .active {
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: $break-tablet) {
  #menu-footer-menu {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px !important;
  }
  .page-credentials-left {
    flex-direction: column;
    gap: 16px;
  }
}

.page-credentials-right {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  a {
    padding-left: 4px;
  }
  a:hover {
    text-transform: uppercase;
  }
  @media screen and (max-width: $break-tablet) {
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
  }
}
