.contact-section--form{
    margin: 60px 0 40px 0;
    @media screen and (min-width: $break-tablet) {
      margin: 6vw 0 4vw 0;
    }
  }
  .contact-form {
    width: 100%;
    grid-template-columns: 1fr;
  
    @media screen and (min-width: $break-tablet) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
    }
  }
  
  .contact-form--left {
    display: none;
    font-weight: $semibold;
    font-size: 18px;
    img{
      width: 250px;
      //margin-left: -25px;
    }
    div{
      margin-left: 16px;
    }
   
  
    @media screen and (min-width: $break-tablet) {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 6rem;
    }
  }
  
  .contact-form--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nf-form-cont {
    width: 100%;
  }
  .nf-form-title {
    h3 {
      text-align: center;
      font-family: $font1;
      font-size: $fontsizeB;
      font-weight: $semibold;
      margin-bottom: 2rem;
      color: $primarycolor;
    }
  }
  
  .nf-field-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nf-field-4 {
    background-color: $primarycolor;
    padding: 0 3rem;
    font-size: $fontsizeR;
  }
  #nf-field-4:hover {
      background-color: #ffe003;
      color: $primarycolor;
  }
  