* {
	box-sizing: border-box;
	margin: 0;
}

*:focus {
	outline: none;
}
// * + * {
// 	margin-top:1em;
// }

body{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
	font-family: $font;
	margin: 0;
	padding: 0;
    transition: 0.4s;
	
    a {
    	color: $primarycolor;
    	text-decoration: none;
    	transition: 0.4s;

    	&:hover {
    		text-decoration: none;
    	}
    }
}
footer{

	a{
		color: $white;
	}
}

main {
    overflow: hidden;
    width: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
	font-weight: $bold;
	margin: 0;
	line-height: 1;
	color: $black;
}

h1 {

	@media screen and (min-width: $break-tablet) {

	}
	@media screen and (min-width: $break-tablet) {
	
	}
	@media screen and (min-width: $break-desktop) {

	}
}

h2 {

	@media screen and (min-width: $break-laptop) {

	}	
	@media screen and (min-width: $break-desktop) {

	}	
}

h3 {

	@media screen and (min-width: $break-desktop) {	
	
	}	
}

h4 {

	@media screen and (min-width: $break-desktop) {	

	}
}

.title {
	@extend h1;
}

.subtitle {
	@extend h2;
}

strong {
	font-weight: $bold;
}

nav {
	ul {
		margin:0;
		padding:0;
		list-style: none;
		
		li {
			margin:0;
			padding:0;
			display: inline-block;
		}
	}	
}

img {
    max-width:100%; 
    height:auto;
}
hr {
	display: block;
	width:100%;
	height:1px;
	border:0;
	background: $black;
}

.wrap {
	@include wrap();
}

.btn, button {
	display:inline-block;
	color:$dark;
	letter-spacing: 1.0px;
	text-transform: uppercase;
	padding:10px 20px;
	margin:10px 0;
	font-weight: $bold;
	text-align: center;
	cursor: pointer;
	border:0;
	@include border-radius(20px);
	
	&--invert {

	}
	
	&:hover {

	}

}


