header {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  color: #ffffff;
  font-family: $font1;
  font-weight: $semibold;
  font-size: 20px;
  color: #1c3660;
  line-height: 3.45;
  text-align: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.page-header--left {
  height: 100%;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    img {
      width: 70px;
      height: 90%;
      margin-left: 5px;
    }
  }
}

.page-header--right {
  margin: 0;
  padding: 0;
  width: 50%;
  position: relative;

  display: flex;
  height: 100%;
}
.desktop-nav {
  display: none;
  @media screen and (min-width: $break-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.primary-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
#primary-menu-top ul li:after {
  display:block;
  content: '';
  border-bottom: solid 2px $primarycolor;  
  transform: scaleX(0);  
  transform-origin:  0% 50%; 
  transition: transform 300ms ease-in-out;
}
#primary-menu-top ul li:hover:after { 
  transform: scaleX(1);
}

.language-switcher {
  font-size: 14px;
  font-weight: $regular;
  margin: 0;
  padding: 0;
  line-height: 1;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    li {
      padding-left: 10px;
      //a{text-decoration: underline;}
    }
  }
}

.hamburger {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #1c3660;
  cursor: pointer;

  div {
    display: block;
    margin: 7px;
    height: 2px;
    width: 27px;
    border-radius: 3px;
    background-color: #1c3660;
    transition: all ease-in 400ms;
  }
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: $medium;
  position: absolute;
  top: 60px;
  right: 0;
  overflow: hidden;
  box-shadow: 0 5px 5px 0;
  background-color: white;
  height: 0;
  transition: all 500ms ease-in;
  z-index: 200;
}
.expand {
  height: 380px;
  //background-color: #ffffff;
}
.mobile-nav--top {
  width: 100%;

  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-top: solid 1px rgba(#7d91b1, 0.5);

      text-align: left;
      padding-left: 10vw;
      line-height: 3;
      a {
        color: #1c3660;
        text-transform: uppercase;
        :hover {
          text-decoration-line: underline;
          transition: transform 0.5s ease-in;
        }
      }
    }
  }
}
.mobile-nav--bottom {
  width: 100%;
  ul {
    width: 100%;
    border-top: solid 1px rgba(#7d91b1, 0.5);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    

    li {
      text-align: left;

      a {
        color: #1c3660;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .active{
      text-decoration: underline;
    }
  }
  .lang-list:first-child {
    padding-left: 10vw;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 8px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -7px);
}

@media screen and (min-width: $break-tablet) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  header {
    height: 120px !important;
  }
  .page-header--left a img {
    width: 130px !important;
    height: 100%;
    margin-left: 0;
  }
}
