.timeline {
  position: relative;
  width: 100%;
  background-color: white;
  margin: 60px 0;
}
.centerline {
display: none;
}

.loop--history {
  width: 100%;
  padding: 50px 0 0 0;
}

.loop-item--history {
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  justify-content: center;
}

.loop-item--history .post-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 10vw;
  
  .year {
    font-size: 90px;
    margin-top: -45px;
    font-weight: $semibold;
    padding: 20px 0;
  }
  h3 {
    align-self: flex-start;
    color: $primarycolor;
    padding-bottom: 20px;
  }
}

.loop-item--history .post-thumb {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.post-dot {
 display: none;
}

.history_bottom {
  text-align: center;

  a {
    border-bottom: $primarycolor 1px solid;
    margin: 4rem auto;
    display: inline-block;
  }
}
.page-about.wrap{
  width: 100%;
  .wrap{
    width: 100%;
  }
}

@media only screen and (min-width: $break-tablet) {

  .timeline {
    margin: 5rem 0;
  }

  .centerline {
    display: inline-block;
    position: absolute;
    width: 2px;
    margin-left: -1px;
    height: calc(100% - 7em);
    left: 50%;
    top: 6rem;

    background-image: linear-gradient(
      to bottom,
      $primarycolor 0%,
      $primarycolor 70%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
  }
  .loop--history {
    padding: 6rem 6rem 2rem 6rem;
    :nth-child(even) {
      .post-thumb {
        grid-column-start: 1;
        grid-row-start: 1;
      }
      .post-content {
        grid-column-start: 2;
        grid-row-start: 1;
      }
      .year{
        align-self: start;
      }
    }
  }
  .loop-item--history {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 80px;
  }

  .loop-item--history .post-content {
    align-items: flex-end;
    padding: 0;
    .year{
      padding: 0;
    }
  }
  .post-dot {
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    border-radius: 50%;
    background: $primarycolor;
  }
  .loop-item--history .post-thumb {
    .inner {
      padding: 1rem;
    }
  }
  .page-about.wrap{
    width: 95%;
    .wrap{
      width: 95%;
    }
  }
}
