@function _unpack-shorthand($shorthand) {
  @if length($shorthand) == 1 {
    @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
  } @else if length($shorthand) == 2 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
  } @else if length($shorthand) == 3 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
  } @else {
    @return $shorthand;
  }
}

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

@mixin border-radius($radius: 5px) {
    @include css3-prefix('border-radius', $radius);
}

@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
  -webkit-border-top-left-radius:     $topLeftRadius;
  -webkit-border-top-right-radius:    $topRightRadius;
  -webkit-border-bottom-right-radius: $bottomRightRadius;
  -webkit-border-bottom-left-radius:  $bottomLeftRadius;

  -moz-border-radius-topleft:     $topLeftRadius;
  -moz-border-radius-topright:    $topRightRadius;
  -moz-border-radius-bottomright: $bottomRightRadius;
  -moz-border-radius-bottomleft:  $bottomLeftRadius;

  border-top-left-radius:     $topLeftRadius;
  border-top-right-radius:    $topRightRadius;
  border-bottom-right-radius: $bottomRightRadius;
  border-bottom-left-radius:  $bottomLeftRadius;
}

@mixin box-shadow($x: 0, $y: 0, $blur: 35px, $color: rgba(0,0,0,.1), $inset: "") {
  @if ($inset != "") {
    @include css3-prefix('box-shadow', $inset $x $y $blur $color);
  } @else {
    @include css3-prefix('box-shadow', $x $y $blur $color);
  }
}

@mixin opacity($opacity: 0.5) {
    $opacityMultiplied: ($opacity * 100);

    filter:         alpha(opacity=$opacityMultiplied);
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacityMultiplied + ")";
    @include css3-prefix('opacity', $opacity);
}

@mixin transform($params) {
  @include css3-prefix('transform', $params);
}

@mixin transition($properties...) {

  @if length($properties) >= 1 {
    @include css3-prefix('transition', $properties);
  }

  @else {
    @include css3-prefix('transition',  "all 0.3s ease");
  }
}

@mixin position($position, $box-edge-values) {
  $box-edge-values: _unpack-shorthand($box-edge-values);
  $offsets: (
    top:    nth($box-edge-values, 1),
    right:  nth($box-edge-values, 2),
    bottom: nth($box-edge-values, 3),
    left:   nth($box-edge-values, 4),
  );

  position: $position;

  @each $offset, $value in $offsets {
    @if _is-length($value) {
      #{$offset}: $value;
    }
  }
}

@mixin order($order) {
  -webkit-box-ordinal-group: $order+1;
  -ms-flex-order: $order;
  order: $order;
}

@mixin flex() {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;  
}

@mixin flex-wrap($wrap:'wrap') {
	-ms-flex-wrap:$wrap;
	flex-wrap:$wrap;	
}

@mixin flex-direction($direction:'row') {
	@if $direction == 'row' {
		-webkit-box-orient: horizontal;
  	} @else if $direction == 'column' {
		-webkit-box-orient: vertical;
  	}
	-webkit-box-direction: normal;
	-ms-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin justify-content($justify:'normal') {
	@if $justify == 'space-between' {
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
  	} @else if $justify == 'space-around' {
		-ms-flex-pack:distribute;
  	} @else {
		-webkit-box-pack:$justify;
		-ms-flex-pack:$justify;
  	}
	justify-content:$justify;
}

@mixin align-items($align:'normal') {
	@if $align == 'flex-start' {
		-webkit-box-align:start;
		-ms-flex-align:start;
  	} @else if $align == 'flex-end' {
		-webkit-box-align:end;
		-ms-flex-align:end;
  	} @else {
		-webkit-box-align:normal;
		-ms-flex-align:normal;
  	}
	align-items:$align;	
}

@mixin flexchild ($columns, $margin) {
	width: calc(100% / #{$columns} - #{$margin});
	margin:0 $margin/2 $margin $margin/2;
}

@mixin fit($fit:cover, $position:center) {
	object-fit: $fit;
	object-position: $position;
	font-family: 'object-fit: #{$fit}; object-position: #{$position}';	
}

@mixin wrap($wrapsize:$wrap) {
	width:95%; 
	max-width:$wrapsize; 
	margin:0 auto;
	@media (min-width: $wrapsize+40px) {
		width:100%;
	}
}