.bg-blue {
  background-color: $light;
}
.bg-white {
  background-color: $white;
}
// 1.section ================================================================
.fullwidth_image-section {
  position: relative;
  display: grid;
  place-items: center;
  .background-image {
    background-color: $primarycolor;
    height: 100%;
    img {
      opacity: 0.5;
      height: 100% !important;
    }
  }
  .site-title {
    color: white;
    position: absolute;
    top: auto;
    font-size: 8vw;
    font-weight: 300;
    text-align: center;
  }
}
@media screen and (max-width: $break-tablet) {
  .fullwidth_image-section {
    .background-image {
      img {
        height: 400px;
        object-fit: cover;
        object-position: center center;
      }
    }
    .site-title {
 
      font-size: 10vw;
 
    }
  }
}
// 2.section ================================================================
.content_block {
  margin: 6vw auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.3;

  .right {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .bg-yellow {
    background-color: #ffe003;
    color: $primarycolor;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12% 12% 12% 14%;

    h3 {
      color: $primarycolor;
      font-size: $f40;
      font-weight: $bold;
      line-height: 1.3;
    }
    p {
      font-size: $fontsizeB;
      font-weight: $semibold;
    }
    a {
      display: inline-block;
      font-size: $fontsizeR;
      font-weight: $semibold;
      border-bottom: 1px solid $primarycolor;
      padding-bottom: 3px;
      align-self: flex-start;
    }
  }
}
@media screen and (max-width: $break-tablet) {
  .content-section.content_block-section.bg-blue .wrap {
    width: 100%;
  }
  .content_block {
    margin: 0 auto;
    grid-template-columns: 1fr;

    img {
      height: 400px !important;
      object-fit: cover;
      object-position: center center;
    }

    .bg-yellow {
      gap: 1rem;
      padding: 12% 14%;

      h3 {
        font-size: $f30;
      }
      p {
        font-size: 19px;
      }
    }
  }
}

// 3.section =============================================================================
.bg-white {
  .home_wrap {
    padding: 6vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;

    h3 {
      align-self: center;
      color: $primarycolor;
      font-size: $f40;
      font-weight: $extrabold;
    }
    p {
      align-self: center;
      text-align: center;
      font-size: 18px;
    }

    .link-top {
      align-self: center;
      text-align: center;
      display: inline-block;
      border-bottom: 1px solid $primarycolor;
      font-weight: $semibold;
      font-size: 16px;
      margin-bottom: 3vh;
    }
  }
}
@media screen and (max-width: $break-tablet) {
  .bg-white {
    .home_wrap {
      padding: 45px 30px;
      gap: 30px;
      h3 {
        font-size: $f30;
      }
    }
  }
}

// 4.section ==============================================================================================

.content_block-fullwidth {
  margin: 0 !important;
  padding: 0 !important;
  display: grid;
  grid-template-columns: 3fr 2fr;
  line-height: 1.3;

  .bg-darkblue {
    background-color: $primarycolor;
    color: $white;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12% 12% 12% 14%;

    h3 {
      color: $white;
      font-size: $f40;
      font-weight: $bold;
      line-height: 1.3;
    }
    p {
      font-size: $fontsizeB;
      font-weight: $medium;
      letter-spacing: normal;
    }
    a {
      display: inline-block;
      font-size: $fontsizeR;
      font-weight: $semibold;
      padding-bottom: 3px;
      border-bottom: 1px solid white;
      align-self: flex-start;
      color: $white;
    }
  }

  .left {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: $break-tablet) {
  .content_block-fullwidth {
    margin: 0 auto;
    grid-template-columns: 1fr;

    .left {
      img {
      height: 400px !important;
      object-fit: cover;
      object-position: center center;
    }}
    .bg-darkblue {
      gap: 25px;
      padding: 12% 14%;

      h3 {
        font-size: $f30;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
// 5.section ==============================================================================================
.bg-blue {
  .home_wrap {
    padding: 6vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;

    h3 {
      align-self: center;
      color: $primarycolor;
      font-size: $f40;
      font-weight: $extrabold;
    }
    p {
      align-self: center;
      text-align: center;
    }
    .link-bottom {
      align-self: center;
      text-align: center;
      display: inline-block;
      border-bottom: 1px solid $primarycolor;
      font-weight: $semibold;
    }
  }
}
@media screen and (max-width: $break-tablet) {
  .bg-blue {
    .home_wrap {
      padding: 50px 30px;
      gap: 30px;
      h3 {
        font-size: 30px;
      }
    }
  }
}
