.page-projects{
    min-height: 1080px;
}

.loadmore{
    width: 100%;
    margin: 4em auto;
    text-align: center;
    a{
        text-decoration-line: underline;
        font-weight: $semibold;
    }
}

.loop--project{
    display:grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom:50px ;
    
    @media screen and (min-width: $break-phone){
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: $break-tablet){
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.loop-item--project{ //articles are grid items
    width: 100%;
    height: 100%;
    position: relative;

    a{
        display: block;

        > div{ //post-thumb
            padding-top: 100%;
            overflow: hidden;
            position: relative;  
            
            div{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(28,54,96, 1.0);
                opacity: 1;

                img{
    
                    display: block;
                    height: 100%;
                    width: 100%;
                    object-fit:cover;
                    backface-visibility: hidden;
                    opacity: 0.5;
                }
               
             }

         }

        h4{
            position: absolute;
            bottom: 6%;
            left: 6%;
            color: #ffffff;
            max-width: 85%;
        }
        p{
            display:none;
            position: absolute;
            top: 16%;
            left: 6%;
            color: #ffffff;
            max-width: 90%;
            text-align: start !important;
            
        }
        span{
            display:none;
            position: absolute;
            bottom: 6%;
            left: 6%;
            color: #ffffff;
            max-width: 85%;
            border-bottom: 1px solid white;
            font-weight: 600;
        }
    }
}
.loop-item--project a:hover > h4{
    top: 6%;
    font-size: $fontsizeB;
    font-weight: 600;
}
.loop-item--project a:hover > p{
    display: block;
}
.loop-item--project a:hover > span{
    display: block;
}
.loop-item--project a:hover > div div img{
    opacity: 0;
}
