.loop--service { // button,service-section,button
  padding: 0;
  button.slick-prev {
    display: none !important;
  }
  button.slick-next {
    display: none !important;
  }
}
@media screen and (min-width: $break-tablet) {
  .loop--service {
    padding: 0 6rem;
    button.slick-prev {
      display: block !important;
      left: 78px !important;
    }
    button.slick-next {
      display: block !important;
      right: 78px !important;
    }
  }
}
.service-section { // ul en div
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .slider-nav { //ul
    width: 60%;
    margin: 0 0 1rem 0;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 1rem;

    @media screen and(min-width:$break-phone) {
      flex-flow: row nowrap;
      gap: 2rem;
    }
    li {
      list-style: none;
      text-align: center;
      .active{
        border-bottom: 1px solid $primarycolor;
        font-weight: $semibold;
      }
    }
    a:hover {
      border-bottom: 1px solid $primarycolor;
      font-weight: $semibold;
      cursor: pointer;
    }
  }
}
.loop-item--service { // .loop-item--content en .loop-item--index 
  background-color: white;
  padding: 20px;
  display: flex;
  text-align: center;
  @media screen and (min-width: $break-tablet) {
    padding: 4rem 4rem 2rem 4rem;
  }
  .loop-item--content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: left;
  
    @media screen and (min-width: $break-laptop) {
      grid-template-columns: 3fr 2fr;
    }
    .post-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 16px;
        font-size: $fontsizeS;
        h3 {
          color: $primarycolor;
          font-size: $fontsizeB;
          font-weight: $semibold;
        }
    
        a {
          display: inline-block;
          margin-top: auto;
          justify-self: flex-end;
          align-self: start;
          font-size: $fontsizeR;
          font-weight: $semibold;
          border-bottom: 1px solid $primarycolor;
        }
      }
  }
  
  .loop-item--index {
    margin-top: 2rem;
  }
}




