.project-section--slider{
    margin: 0 auto;
}
.project-slider{
    margin: 0 auto;
}


.project-section--footer{
    width: 100%;
    padding: 1rem 0;
    @media screen and (min-width: $break-tablet){
        padding: 4rem 6rem;
    }
    span.project-cta--title{
        font-size: $fontsizeB;
        font-weight: $semibold;
    }
    a.btn--invert{
        font-size: 19px;
        font-weight: $regular;
        letter-spacing: normal !important;
    }
}
.project-cta{
    margin: 0 auto;
    padding: 3rem 2rem;
    background-color: $primarycolor;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
    a{
        background-color: #ffffff;
        color: $primarycolor;
        padding: 1rem;
        border-radius: 0;
        margin: 0;
        text-transform: capitalize;
    }
}
.project-nav{
    padding: 3rem 3rem 0 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    a{
        text-decoration-line: underline;
        font-weight: $semibold;
    }
}
.slider-item{
    img{
        height: 100%;
        //width: 100%;
        object-fit: cover;
        overflow: hidden;
        object-position: center;
    }
}