// SIZES
$wrap: 1400px;

// BRAKES
$break-phone: 768px;
$break-tablet: 980px;
$break-laptop: 1080px;
$break-desktop: 1440px;

// COLOR HEX
$black: #000000;
$white: #ffffff;
$primarycolor :#1c3660;
$yellow: #ffe003;
$grijs :#d0d7e2;
$light:rgb(243,244,247);
$dark : $black;

// FONTS
$font : 'rubik', 'serif';
$font1 :  'proxima-nova','sans-serif';
$font2 : 'jaf-bernina-sans-narrow','sans-serif';
$iconfont: 'icomoon';

$regular : 400;
$medium: 500;
$semibold : 600;
$bold: 700;
$extrabold : 800;

$fontsizeS : 14px;
$fontsizeR : 16px;
$fontsizeB : 22px;

$f40 :38px;
$f30 :28px;



